.banner{
    background-color: blueviolet;
}

body{
    margin:auto;
}

*{
    margin: 0;
    padding: 0;
}

 a{
    color:white;
}

.banner p{
    color:white;
}

button{
    background-color:blueviolet;
    color:white;
}

.main-page p{
    margin-left: 40%;
    margin-right: 60%;
    width: 500px;
    font-size: 30px;
}


.main-page{
    font-size:50px;
}
.ul{
    font-size:20px;
    display:flex;
}

h1{
    margin-left: 43%;
    margin-right: 57%;
    width: 500px;
    font-size:50px;
    
}


.musbat1{
    margin-left: 47%;
    margin-right: 53%;
    width: 200px;
    height: 50px;
}

.main-page{
    color: blueviolet;
    background-image: url("../img/mainpage.jfif");
    color: white;
    height: 900px;
    background: linear-gradient( rgba(221, 205, 114, 0.507),  rgba(80, 18, 224, 0.534)), url("../img/mainpage.jfif");
}


.best{
    background-image: url("../img/best2.png");
    height: 400px;
    display:flex;
    font-size: 25px;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../img/best2.png");
}



.about h3{
    margin-left: 45%;
    margin-right: 55%;
    width: 30em;
}

.about p{
    margin-left: 60%;
    margin-right: 40%;
    width: 30em;
}

.booking h4{
    margin-left: 45%;
    margin-right: 55%;
    width: 30em;
}
.buttons{
    display:flex;
}
 
button{
    font-size:20px;
}

.about img{
    width:40%;
}

.staff img{
    width:15%;
    display:flex;
}

.Using{
    display: flex;
    font-size:25px;
}

ul li {
    display: inline;
    margin-right: 5px;
   
   
   
   }

.banner{
display:flex;
font-size: 20px;
height: 35px;

}
.banner li{
    display: inline-block;
}

